@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap');

body {
    background-color: #f2f2f2;
    font-weight: 300;
    font-size: 16px;
    color: #040505;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 50px;
}

form {
    font-size: small;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #F0E68C;
}

.centered {
    text-align: center;
}

a {
    color: #005cbf;
}

a:hover, a:focus {
    color: #7abaff;
    text-decoration: none;
    outline: 0;
}