<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Java pre-project 3.1.3</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">

            <h4><strong>Please sign in</strong></h4>
            <form th:action="@{/login}" method="post">

                <!-- error message -->
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Неправильный логин или пароль</div>
                </div>

                <!-- logout message -->
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Вы вышли из системы</div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="username"
                           name="username" placeholder="Email address"
                           autofocus="autofocus">
                </div>

                <div class="form-group">
                    <input type="password" id="password" name="password"
                           class="form-control" placeholder="Password" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-primary"
                                   value="Sign in" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>