<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<style>
    .navbar {
        background-color: green;
    }
</style>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">ПРОФИЛЬ</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand"  th:align="right" th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <ul class="navbar-brand"   th:align="center" >
                <a href="javascript: document.logoutForm.submit()" role="menuitem">LOGOUT</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<br><br><br>

<body style="background-color: lemonchiffon;">
<div style="margin-left:60px;">
    <h2 th:text="${user.getName()}+ ' '+ ${user.getLastName()}"></h2>
    <hr>
    <h4 th:text="'E-mail: ' + ${user.getUsername()}">VALUE</h4>
    <h4 th:text="'Возраст: ' + ${user.getAge()}">VALUE</h4>
    <h4 th:text="'Регистрация: ' + ${user.getRegdate()}">VALUE</h4>
    <hr>

</div>
</body>
</html>