<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.
             org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    table {
        border-collapse: collapse;
        background-color: lemonchiffon;
    }
    th, td {
        border: 1px solid orange;
        padding: 10px;
        text-align: left;
    }
    .button {
        background-color: black;
        color: lemonchiffon;
        font-size: 16px;
    }
    .navbar {
        background-color: green;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">База данных pre-project</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" >
                <li sec:authorize="isAuthenticated()"><a th:href="'/login?logout'">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>
<body>
<hr>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Имя и фамилия</th>
        <th scope="col">Email</th>
        <th scope="col">Возраст</th>
        <th scope="col">Регистрация</th>
        <th scope="col">Корректировка</th>
        <th scope="col">Разрешён</th>
        <th scope="col">Изменение</th>
        <th scope="col">Удаление</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="user : ${users}">
        <th th:text="${user.getId()}" scope="row"></th>
        <td> <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}+ ' ' +${user.getLastName()}"></a></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getRegdate()}"></td>
        <td th:text="${user.getEdited()}"></td>
        <td th:text="${user.getEnabled()}"></td>
        <td> <form th:action="'edit_user?id=' + ${user.getId()}" th:method="POST">
            <input type="submit" value="Изменить" />
        </form></td>
        <td> <form th:action="'/admin/users/del_user?id=' + ${user.getId()}" th:method="POST">
            <input type="submit" value="Удалить" />
        </form></td>
    </tr>
    </tbody>
</table>
<hr>
</body>