<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
    table {
        border-collapse: collapse;
        background-color: lemonchiffon;
    }
    th, td {
        border: 1px solid orange;
        padding: 10px;
        text-align: left;
    }
    .navbar {
        background-color: green;
    }
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Администратор: </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" th:text="${principal}"></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand"  th:align="right" th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy HH:mm')}"></a></li>
        </ul>
        <div class="nav navbar-nav navbar-right">
            <ul class="navbar-brand"   th:align="center" >
                <a href="javascript: document.logoutForm.submit()" role="menuitem">LOGOUT</a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
            </ul>
        </div>
    </div>
</nav>
<br>
<body>
<hr>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">Имя и фамилия</th>
        <th scope="col">Email</th>
        <th scope="col">Возраст</th>
        <th scope="col">Регистрация</th>
        <th scope="col">Изменён</th>
        <th scope="col">Компетенция</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="user : ${users}">
        <th th:text="${user.getId()}" scope="row"></th>
        <td> <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user.getName()}+ ' ' +${user.getLastName()}"></a></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getRegdate()}"></td>
        <td th:text="${user.getEdited()}"></td>
        <td th:text="${user.getAuthorities()}"></td>
        <td> <form th:action="'/admin/edit_user?id=' + ${user.getId()}" th:method="POST">
            <input type="submit" value="Изменить" />
        </form></td>
        <td> <form th:action="'/admin/del_user?id=' + ${user.getId()}" th:method="POST">
            <input type="submit" value="Удалить" />
        </form></td>
    </tr>
    </tbody>
</table>
<hr>
</body>